page-chat {

    .chatr{
        position: relative;
        width: 85%;
        float: left;
        margin-bottom: 5px;
        padding: 0;
        background-color: rgba(122, 214, 122, 0.9);
        border-radius: 10px;
        .contmessviewerR{
            position: relative;
            top:1px;
            .metadatar{
                color:rgb(75, 75, 75);
                border-radius: 10px;
                text-align: center;
            }
        }
    }

    .chatl{
        position: relative;
        width: 85%;
        float: right;
        margin-bottom: 5px;
        padding: 0;
        background-color:rgb(80, 151, 228);
        border-radius: 10px;
        .contmessviewerL{
            position: relative;
            top:1px;
            .metadatal{
                color:rgb(65, 63, 63);
                text-align: center;
            }
        }
    }

    .hora{
        position: relative;
        float: right;
        right: 0;
        color: snow;
        font-size: 10px;
        top:0px;
        right: 10px;
    }

    .message{
        position: relative;
        color: rgb(11, 43, 40);
        border-radius: 25px;
        font-size: 15px;
        left: 10px;
        width: 95%;
    }

    .bgfooter{
        position: relative;
        height: 80px;
    }
    //tabla de escritura de mensaje
    .menssageContainer{
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0px;
        left: 0;
        background-color: rgb(126, 141, 161);
        .messageSend{
            position: absolute;
            background-color: rgb(194, 219, 253);
            border-radius: 10px;
            width: 70%;
            height: 60px;
            bottom: 10px;
            left: 10px;
        }
        .send{
            position: absolute; 
            height: 55px;
            width:45px;
            bottom: 10px;
            right: 47px;
        }
        .media{
            position: absolute; 
            height: 40px;
            width:40px;
            bottom: 10px;
            right: 3px;
        }
    }

    .chatbg{
        background: linear-gradient( rgb(44, 85, 79),rgb(65, 63, 63),rgb(102, 114, 129));
    }

    .btns{
        position: relative;
        width: 40%;
        height: 35px;
        border-radius: 35px;
        background-color: rgba(75, 75, 75, 0.5);
        margin: auto;
        left: 10%;
    }
}
