page-chat {
    
    .maincontainer {
        position: relative;
        width: 96%;
        height: 100%;
        left: 2%;
        right: 2%;
        margin-bottom: 1px;
    }
    .chatC{
        position: relative;
        width: 100%;
        height: 130px;
        background-color: 	rgb(247, 222, 193);
        border-color: rgb(243, 178, 99);
        border-width: 4px;
        border-style: solid;
        border-radius: 10px;
        .contmessviewerC{
            position: relative;
            top:10px;
            .message{
                text-align: center;
                top: -15px;
            }
        }
        .btns{
            position: relative;
            width: 40%;
            height: 35px;
            border-width: 2px;
            border-style: solid;
            border-radius: 35px;
            margin: auto;
            left: 10%;
            top:-20px;
            font-size:20px;
            font-weight:bold;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
            -webkit-text-stroke-width: .7px;  
        }
        .requestDeclined{
            background-color: #f53d3d; 
            border-color: #eb1717;   
        }
        .requestAcepted{
            background-color: #32db64; 
            border-color: #1dc750;  
        }
    }
    .chatCmin{
        position: relative;
        width: 100%;
        height: 85px;
        background-color: 	rgb(247, 222, 193);
        border-color: rgb(243, 178, 99);
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        .contmessviewerC{
            position: relative;
            text-align: center;
            .hora{
                top:-15px;
            }
        }
    }

    .chatr{
        position: relative;
        width: 85%;
        left: 15%;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        background-color: rgb(129, 241, 129);
        border-color: rgb(84, 216, 84);
        .contmessviewerR{
            position: relative;
        }
    }

    .chatl{
        position: relative;
        width: 85%;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        background-color:rgb(114, 227, 231);
        border-color: rgb(68, 170, 173);
        .contmessviewerL{
            position: relative;
        }
    }

    .metadata{
        text-align: center;
    }

    .hora{
        position: relative;
        float: right;
        color: rgb(87, 87, 87);
        font-size: 12px;
        top:-30px;
        right: 10px;
    }

    .message{
        position: relative;
        color: rgb(0, 0, 0);
        border-radius: 25px;
        font-size: 15px;
        left: 10px;
        width: 95%;
        z-index: 2;
    }

    .header{
        height: 10vh;
    }

    .btnBorrar{
        position: relative;
        left: 50vw;
    }
    
    .chatbg{
        position: relative;
        height: 93vh;
        top: 1.5vh;
        background: linear-gradient( rgba(44, 85, 79, 0.5),rgba(65, 63, 63, 0.5),rgba(102, 114, 129, 0.5));
    }

    .chatbg > div{
        overflow-x: hidden;
    }

    .bgfooter{
        position: fixed;
        bottom: 0px;
        left: 0;
        height: 10vh;
        width: 100vw;
        background-color: rgba(102, 114, 129, 1);
        z-index: 3;
        
        .messageSend{
            position: absolute;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 5px;
            bottom: 14px;
            width: 80vw;
            height: auto;
            left: 2vw;
            z-index: 0;
        }

        .media{
            position: absolute;
            font-size: 35px;
            right: 80px;
            bottom: 14px;
            z-index: 10;
            -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
            color: gray;
        }

        .send{
            position: absolute;
            border-radius:14vw;
            height: 14vw;
            width:14vw;
            right: 0px;
            font-size: 6vw;
            bottom: 0px;
        }
    }
}
