<ion-menu side="left" [content]="content">  
    <ion-content  class="fondomenu">
        <ion-list class="scroll" id="menuUser">
            <div class="perfil">
                <img src={{userpick}} alt={{username}}>
                <div>
                    <h4>{{username.data}}</h4>
                    <ion-icon (click)="go_profile()" ios="md-cog" md="md-cog" menuClose></ion-icon>
                </div>
            </div>
            <div class="menu">
                <ion-item (click)="go_promo()" menuClose>
                    Eventos y Promociones
                </ion-item>
                <ion-item (click)="go_grup()" menuClose>
                    Mis Grupos
                </ion-item>
            </div>
            <div class="fotter">
                <ion-item color="danger" class="logout" (click)="go_logout()" menuClose>
                    Logout
                </ion-item>
            </div>
        </ion-list>
        
        <div class="scroll" id="menuPrincipal">
            <div class="contenido" *ngFor="let t of FLogList.data">
                <div *ngIf='t.user'>
                    <div class="cuenta" (click)='flogin(t.user,t.pass)' menuClose>
                        <img src="../assets/imgs/pick.jpg" alt="porfile">
                        <h4>{{ t.user }}</h4>
                    </div>
                    <button ion-button color="danger" (click)='revmove(t)'> Borrar cuenta </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
