page-grupos {
    .itemGrup{
        position: relative;
        width: 100%;
        height: 10%;
        margin-top: 30px;
    }
    .textos{
        position: relative;
        width: 70%;
        height: 100%;
        float: left;
    }
    .name{
        position: relative;
        top: 5%;
        left: 10px;
        float: left;
    }
    .hora{
        position: relative;
        top: -15px;
        float: right;
    }
    .divisor{
        position: relative;
        top: 10px;
    }
    .imgGrupo{
        position: relative;
        border-radius: 100%;
        width: auto;
        height: 100%;
        float: left;
    }
    #gruposchat{
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
