<ion-header>
  <ion-navbar color='primary'>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      OffRoapp
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fondol">
  <div id="image_zoom" (click)="zoom_out()">
    
    <div id="chatImageContainer">
      <img id="ima_zoom" src="" alt="" >
    </div>
    <div id="mainImgCont"></div>

    <div id="ChatOptionsContainer">
        <button> <ion-icon ios="md-create" md="md-create"></ion-icon> </button>
        <button><ion-icon name="reverse-camera"></ion-icon></button>
    </div>

    <div id="ChatNameContainer">
      <h1 id="displayName" class="showName"></h1>
    </div>

  </div>

  <div id="gruposchat">
    <ion-scroll class="itemGrup" >
      <ion-list *ngFor="let litem of lichats async">
        <ion-item-sliding *ngIf='litem.status!=0' >
          <ion-item class="Gitem">
            <div *ngIf='showmsg(litem)' class="ad">{{litem.msgs}}</div>
            <br>
            <img class="imgGrupo" src={{litem.url}} (click)="zoom(litem)">   
            <div class="textos" (click)="go_chat(litem)">
                <h2 class="name">{{litem.name}}</h2>
            </div>
            <hr class="divisor" color="gray" size=2 width="100%">
          </ion-item>
          
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="Share(litem)">Share</button>
            <button ion-button color="primary" (click)="Mute(litem)"> Mute </button>
          </ion-item-options>
      
          <ion-item-options side="left">
            <button ion-button color="danger" (click)="Delete(litem)"> let group </button>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>
    </ion-scroll>

    <button class="btn" (click)="addChat()">
      <ion-icon class="btnAdd" ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
      <div class="btnAddTxt">+</div>
    </button>
  </div>
</ion-content>
